:root {
    --bg-color: #FFF5F0;
    --title-color: #1B262C;
    --accent-color: #FFA372;
    --padding-side: 4vw;
    --border: 1px solid rgba(27, 39, 44, 0.2);
}

html {
    box-sizing: border-box;

}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    box-sizing: inherit;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

a:hover {
    border-bottom: 2px solid;
}

path, i, svg {
    pointer-events: none;
}

button, select {
    padding: 0.2em 1em;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 5px;
}

@font-face {
    font-family: "Elgoc";
    src: url("src/assets/fonts/Elgoc/Elgoc-Thin.otf") format("opentype");
}

@font-face {
    font-family: "Monalisa";
    src: url("src/assets/fonts/Monalisa/monalisa-serif.ttf") format("truetype");
}

body {
    font-family: "Space Mono", sans-serif;
    position: relative;
    background-color: var(--bg-color);
}

.font-e {
    font-family: "Elgoc", "Space Mono", sans-serif;
}

.font-m {
    font-family: "Monalisa", "Space Mono", sans-serif;
}

.font-p {
    font-family: 'Poppins', sans-serif;
}
